.container{
    .text-container{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        h1 {
            font-size: 56px;
            line-height: 53px;
            margin: 0;
            font-family: 'Coolvetica';
            font-weight: 400;
            color: #ffd700;
        
            &:before {
              content: '<h1>';
              font-family: 'La Belle Aurore', cursive;
              color:#686868;
              font-size: 18px;
              position: absolute;
              margin-top: -40px;
              left: -15px;
              opacity: 0.6;
            }
        
            &:after {
              content: '</h1>';
              font-family:  'La Belle Aurore', cursive;
              color: #686868;
              font-size: 18px;
              position: absolute;
              margin-top: 40px;
              left: -15px;
              animation: fadeIn 1s 1.7s backwards;
              opacity: 0.6;
            }
            
            
          }
        
          p{  margin-top:40px;
              font-style: 13px;
              color:aliceblue;
              font-family:sans-serif;
              font-weight:300;
              min-width: fit-content;
              animation:pulse 1s;
              
          }
        
          .text-animate-hover {
            
              &:hover {
                
                color: #ffffff;
              }
            }
    }
    .projects-container{
        position: absolute;
        left:45%;
        top:10%;
        width:50%;
        height:80%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        gap: 20px;
        
       
        overflow-y: auto;

       &::-webkit-scrollbar {
          width: 14px;               /* width of the entire scrollbar */
        }
        
       &::-webkit-scrollbar-track {
          background: orange;        /* color of the tracking area */
        }
        
       &::-webkit-scrollbar-thumb {
          background-color: rgb(50, 204, 243);    /* color of the scroll thumb */
          border-radius: 20px;       /* roundness of the scroll thumb */
          border: 2px solid black;  /* creates padding around scroll thumb */
          
        }



       
        
        .card-item{
            width: 65%;
            height:40%;
            font-size: 12px;
            flex: 0 0 auto;         
            display: flex;          
            flex-direction: column; 
            position: relative;
            align-self: center;
            justify-content: center;
            overflow-x: hidden;
            &:nth-of-type(1){
                background: #118d96;
            }
            &:nth-of-type(2){
                background: #ffffff;
            }
            &:nth-of-type(3){
              background: #119653;
          }
            
            
        }
        
    }
    
}
