.meme-generator{
    position: absolute;
      left: 30%;
      top: 0%;
      //transform: translateY(-50%);
      width: 40%;
      height: 99%;
      overflow: hidden;
      border:10px rgb(255, 251, 3);
}