.meme-generator{
    position: absolute;
      left: 30%;
      top: 0%;
      //transform: translateY(-50%);
      width: 40%;
      height: 99%;
      overflow: hidden;
      border:10px rgb(255, 251, 3);
      @media (max-width: 900px) {
        width:75%;
        height:80%;
        top:10%;
        left: 10%;

        
    }
}