.logo-container {
  z-index: 0;
  width: 500px;
  height: auto;
  //opacity: 0;
  position: absolute;
  top: 0%;
  right: 10%;
  
  left: auto;
  margin: auto;

  svg {
    
    width: 100%;
    height: auto;
    bottom: auto;
    transform: rotateZ(30deg) !important;
    path{
      fill:none;
      stroke: #ffae00;
      stroke-width: 8px;
    }
  }

  .solid-logo {
    
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 102%;
    height:auto;
    // opacity: 1;
    transform: rotateZ(30deg) !important;
    z-index: 1;
    
         -webkit-animation:appear 15s ease-in 0s 1 normal;
        -moz-animation:appear 15s ease-in 0s 1 normal;
        -ms-animation:appear 15s ease-in 0s 1 normal;
        animation:appear 15s ease-in 0s 1 normal;
        @-webkit-keyframes appear {
          0%{ opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
          60%{ opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
          }
          @keyframes appear {
          0%{ opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
          60%{ opacity: 1; transform: scale3d(1,1,1); }
          }
    
  }
}

