.text-animate {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 1s 1.8s backwards ;
  animation-duration: 2s;
  
  animation-fill-mode: forwards;
  min-width: 10px;
  
  
}
// @for $i from 1 through 100 {
//   .text-animate_#{$i} {
//     animation-delay: #{$i / 5}s;
//   }
// }
@for $i from 1 through 55{
  .text-animate_#{$i}{
    animation-delay: #{$i*5};
  }
}
.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;

  &:hover {
    animation: rubberBand 1s;
    color: #ffd700;
  }
}



 