* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

// button:focus {
//     outline: none;
//   }
// .ql-editor p,
// .ql-editor.ql-blank::before {
//     font-size: 1.3em;
//     font-weight: 100;
// } 


.editor{
    // position: absolute;
    // top:0;
    // left:0;
    height:100%;
    width:600px;
    
    //border: solid 2px yellow;
    border-radius: 1em;
    overflow: hidden; 
    background: red;    

}